form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .mud-input {
    font-family: monospace;
    font-size: 14px;
    flex: 1 1 auto;
    resize: none;
    max-height: 200px;
  }
}
