//   table {
//     width: 100%;
//   }

//   .mud-test {
//     font-family: monospace;
//     font-size: 14px;
//     background-color: black;
//     color: white;
//     padding: 0.5ex;
//     margin-top: 0;
//     margin-bottom: 0;
//     display: inline-block;
//   }
:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  overflow: hidden;

  app-mud-menu {
    flex: 0 1 auto;
  }

  app-mud-output {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  app-mud-input {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
}
