<div class="flex">
  <div>
    <div #mudMenu [style.width.px]='v.ref_width'>
      <app-mudmenu [connected]="v.connected" (menuAction)="menuAction($event)"></app-mudmenu>
    </div>
    <div class='mud-heigth'>
      <div class="above-scroller" *ngIf='v.sizeCalculated2' #scroller (scroll)="scroll()"
        [style.width.px]='v.ref_width'>
        <div class="scroller" [style.min-width.px]='mudBlock.nativeElement.scrollWidth'></div>
      </div>

      <!-- *ngIf='v.sizeCalculated' vorher -->
      <!-- Output des Clients-->
      <div class="mud-block doselect" #mudBlock *ngIf='v.sizeCalculated' [style.width.px]='v.ref_width'
        [style.height.px]='v.ref_height' [style.background-color]="v.stdbg" [style.color]="v.stdfg">
        <div class="mud-message" display="inline" *ngFor="let mudLine of this.mudLines$ | async">
          <app-mudspan [line]="mudLine">
          </app-mudspan>
          <!-- <app-mudspan [line]="mudLine" [colorOff]='cs.colorOff' [blackToWhite]='cs.blackOnWhite'
            [invertFlag]="cs.invert" [localEchoColor]="cs.localEchoColor" [localEchoBackground]="cs.localEchoBackground"
            [localEchoActive]="cs.localEchoActive">
          </app-mudspan> -->
        </div>
      </div>

    </div>
    <textarea pFocusTrap [pAutoFocus]="true" pInputTextarea *ngIf="v.inpType==='text'" class="mud-input"
      [style.width.px]='v.ref_width' #mudInputArea (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"
      [(ngModel)]="inpmessage"></textarea>
    <input pFocusTrap [pAutoFocus]="true" pInputText *ngIf="v.inpType!=='text'" [(type)]="v.inpType" class="mud-input"
      [style.width.px]='v.ref_width' #mudInputLine (keydown.enter)="sendMessage()" [(ngModel)]="inpmessage" />
  </div>
  <p-divider layout="vertical"></p-divider>
  <app-inventory [inv]="invlist" [vheight]='v.ref_height'></app-inventory>
</div>